.container {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  margin-top: 50px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.title {
  display: flex;
  align-items: center;
}

.title h3 {
  font-size: 40px;
  font-weight: 500;
}

.title span {
  font-weight: 700;
}

.bottom_content {
  background: white;
  color: #626262;
  font-size: 20px;
  padding: 80px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
}

.bottom_content span {
  font-weight: 600;
}

@media (max-width: 1110px) {
  .items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 730px) {
  .container {
    padding: 20px 30px;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 20px;
  }

  .items {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .bottom_content {
    padding: 30px;
  }

  .title h3 {
    font-size: 30px;
  }
}
